<?xml version="1.0" encoding="UTF-8"?>
<web-app version="5.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd">
<!--    <filter>-->
<!--        <filter-name>PrimeFaces FileUpload Filter</filter-name>-->
<!--        <filter-class>-->
<!--            org.primefaces.webapp.filter.FileUploadFilter-->
<!--        </filter-class>-->
<!--    </filter>-->

<!--    <error-page>-->
<!--        <error-code>500</error-code>-->
<!--        <location>/500.xhtml</location>-->
<!--    </error-page>-->
<!--    <error-page>-->
<!--        <exception-type>jakarta.faces.FacesException</exception-type>-->
<!--        <location>/500.xhtml</location>-->
<!--    </error-page>-->
<!--    <error-page>-->
<!--        <error-code>500</error-code> &lt;!&ndash; For general server errors &ndash;&gt;-->
<!--        <location>/error500.xhtml</location> &lt;!&ndash; Custom error page &ndash;&gt;-->
<!--    </error-page>-->
<!--    <error-page>-->
<!--        <error-code>408</error-code> &lt;!&ndash; Request timeout &ndash;&gt;-->
<!--        <location>/timeout.xhtml</location> &lt;!&ndash; Timeout error page &ndash;&gt;-->
<!--    </error-page>-->
<!--    <filter-mapping>-->
<!--        <filter-name>PrimeFaces FileUpload Filter</filter-name>-->
<!--        <servlet-name>Faces Servlet</servlet-name>-->
<!--    </filter-mapping>-->
<!--    <context-param>-->
<!--        <param-name>jsf.ajax.timeout</param-name>-->
<!--        <param-value>5000</param-value> &lt;!&ndash; Timeout in milliseconds &ndash;&gt;-->
<!--    </context-param>-->

    <context-param>
        <param-name>primefaces.UPLOADER</param-name>
        <param-value>native</param-value>
    </context-param>
<!--    <context-param>-->
<!--        <param-name>jakarta.faces.DEFAULT_ENCODING</param-name>-->
<!--        <param-value>UTF-8</param-value>-->
<!--    </context-param>-->
<!--    <context-param>-->
<!--        <param-name>org.apache.myfaces.CACHE_EL_EXPRESSIONS</param-name>-->
<!--        <param-value>noCache</param-value>-->
<!--    </context-param>-->
<!--    <context-param>-->
<!--        <param-name>jakarta.faces.STATE_SAVING_METHOD</param-name>-->
<!--        <param-value>client</param-value>-->
<!--    </context-param>-->
<!--    <context-param>-->
<!--        <param-name>jakarta.faces.PARTIAL_STATE_SAVING</param-name>-->
<!--        <param-value>true</param-value>-->
<!--    </context-param>-->
<!--    <context-param>-->
<!--        <param-name>com.sun.faces.NUMBER_OF_LOGICAL_VIEWS_IN_SESSION</param-name>-->
<!--        <param-value>50</param-value>-->
<!--    </context-param>-->
<!--    <context-param>-->
<!--        <param-name>jakarta.faces.PROJECT_STAGE</param-name>-->
<!--        <param-value>Development</param-value>-->
<!--    </context-param>-->
    <context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>saga</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.CLIENT_SIDE_VALIDATION</param-name>
        <param-value>true</param-value>
    </context-param>

    <context-param>
        <param-name>jakarta.faces.FACELETS_LIBRARIES</param-name>
        <param-value>/WEB-INF/primefaces-mirage.taglib.xml</param-value>
    </context-param>
    <context-param>
        <param-name>primefaces.FONT_AWESOME</param-name>
        <param-value>true</param-value>
    </context-param>
<!--    <mime-mapping>-->
<!--        <extension>ico</extension>-->
<!--        <mime-type>image/x-icon</mime-type>-->
<!--    </mime-mapping>-->
<!--    <mime-mapping>-->
<!--        <extension>woff</extension>-->
<!--        <mime-type>application/font-woff</mime-type>-->
<!--    </mime-mapping>-->
<!--    <mime-mapping>-->
<!--        <extension>woff2</extension>-->
<!--        <mime-type>application/font-woff2</mime-type>-->
<!--    </mime-mapping>-->
<!--    <mime-mapping>-->
<!--        <extension>ttf</extension>-->
<!--        <mime-type>application/font-sfnt</mime-type>-->
<!--    </mime-mapping>-->
<!--    <mime-mapping>-->
<!--        <extension>eot</extension>-->
<!--        <mime-type>application/vnd.ms-fontobject</mime-type>-->
<!--    </mime-mapping>-->
<!--    <mime-mapping>-->
<!--        <extension>otf</extension>-->
<!--        <mime-type>font/opentype</mime-type>-->
<!--    </mime-mapping>-->
<!--    <mime-mapping>-->
<!--        <extension>svg</extension>-->
<!--        <mime-type>image/svg+xml</mime-type>-->
<!--    </mime-mapping>-->
<!--    <mime-mapping>-->
<!--        <extension>jsp</extension>-->
<!--        <mime-type>text/html</mime-type>-->
<!--    </mime-mapping>-->

<!--    <servlet>-->
<!--        <servlet-name>Faces Servlet</servlet-name>-->
<!--        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>-->
<!--        <load-on-startup>1</load-on-startup>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>Faces Servlet</servlet-name>-->
<!--        <url-pattern>*.xhtml</url-pattern>-->
<!--    </servlet-mapping>-->
<!--    <session-config>-->
<!--        <session-timeout>-->
<!--            60-->
<!--        </session-timeout>-->
<!--    </session-config>-->
    <welcome-file-list>
        <welcome-file>contractHome.xhtml</welcome-file>
    </welcome-file-list>
<!--    <context-param>-->
<!--        <param-name>jakarta.faces.DEFAULT_SUFFIX</param-name>-->
<!--        <param-value>.xhtml</param-value>-->
<!--    </context-param>-->
<!--    <context-param>-->
<!--        <param-name>jakarta.faces.DATETIMECONVERTER_DEFAULT_TIMEZONE_IS_SYSTEM_TIMEZONE</param-name>-->
<!--        <param-value>true</param-value>-->
<!--    </context-param>-->
<!--    <context-param>-->
<!--        <param-name>jakarta.faces.FACELETS_SKIP_COMMENTS</param-name>-->
<!--        <param-value>true</param-value>-->
<!--    </context-param>-->
<!--    &lt;!&ndash; Jersey Servlet Configuration &ndash;&gt;-->

<!--    &lt;!&ndash; Mapping for Jersey Servlet &ndash;&gt;-->
<!--    <filter>-->
<!--        <filter-name>CharacterEncodingFilter</filter-name>-->
<!--        <filter-class>org.primefaces.mirage.filter.CharacterEncodingFilter1</filter-class>-->
<!--        <init-param>-->
<!--            <param-name>encoding</param-name>-->
<!--            <param-value>UTF-8</param-value>-->
<!--        </init-param>-->
<!--    </filter>-->
<!--    <filter>-->
<!--        <filter-name>FileUploadFilter</filter-name>-->
<!--        <filter-class>org.primefaces.webapp.filter.FileUploadFilter</filter-class>-->
<!--    </filter>-->
<!--    <filter>-->
<!--        <filter-name>Set Character Encoding Filter</filter-name>-->
<!--        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>-->
<!--        <init-param>-->
<!--            <param-name>encoding</param-name>-->
<!--            <param-value>UTF-8</param-value>-->
<!--        </init-param>-->
<!--        <init-param>-->
<!--            <param-name>forceEncoding</param-name>-->
<!--            <param-value>true</param-value>-->
<!--        </init-param>-->
<!--    </filter>-->

<!--    <filter-mapping>-->
<!--        <filter-name>Set Character Encoding Filter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->

<!--    <filter-mapping>-->
<!--        <filter-name>FileUploadFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->
<!--    <filter-mapping>-->
<!--        <filter-name>CharacterEncodingFilter</filter-name>-->
<!--        <url-pattern>/*</url-pattern>-->
<!--    </filter-mapping>-->
</web-app>
